@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  width: 300px;
  background-image: url(../img/clock-face.svg);
  Position: relative;
  top: 200px;
  margin: 0 auto;
}

.hand {
  width: 14px;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 7px);
  transition: all 6s linear;
  transform-origin: bottom center;
}

.clock-face:target .hand-hour {
  transform: rotate(360deg);
}

.clock-face:target .hand-minute {
  transform: rotate(4320deg);
}

.center {
  width: 28px;
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 14px);
}

.buttons{
  position: relative;
  width: 235px;
  margin: 0 auto;
  padding: .5em; 
}

.button-r:hover {
  color: black;
  background-color: white;
}

.button-g:hover {
  color: black;
  background-color: white;
}

.button-g {
  position: absolute;
  top: 40px;
  left: 0;
  text-decoration: none;
  color: white;
  background-color: green;
  line-height: 100px;
  width: 100px;
  text-align: center;
  -moz-border-radius: 55px;
  border-radius: 55px;
  transition: all 700ms ease-in-out;
}

.button-r {
  position: absolute;
  top: 40px;
  right: 0;
  text-decoration: none;
  color: white;
  background-color: red;
  line-height: 100px;
  width: 100px;
  text-align: center;
  -moz-border-radius: 55px;
  border-radius: 55px;
  transition: all 700ms ease-in-out;
}
